///color full and balanced
$orangered: #e27d60;
$DARKGREEN: #116466;
$ORANGE: #ffcb9a;
$LIGHTBLUE: #d1e8e2;
$PALEGREEN: #2c3531;
$SOILCOLOR: #d9b08c;

////tecturit and dynamic
$DARKGRAY: #2f4454;
$MERONE: #2e151b;
$ROSE: #da7b93;
$LIGHT-GREEN: #376e6f;
$THICK-GREEN: #1c3334;

//VIVID AND SHARP
$PINK: #d83f87;
$LIGHTMERON: #2a1b3d;
$PALEBLUE: #44318d;
$LIGHTPURPLE: #e98074; ////CONFUSION
$GRAY: #a4b3b6;

//CORPARATE AND MODERN

$BRIGHTYGREEN: #88bdbc;
$DARKYGREEN: #254e58;
$HIGHGREEN: #112d32;
$LIGHTBROWN: #4f4a41;
$BROWN: #6e6658;
//clean and energetic colors
$energetic-blue: #5680e9;
$energetic-lightblue: #5ab9ea;
$energetic-darkblue: #8860d0;

$gutter-vertical: 4rem;
$gutter-horizontal: 4rem;
$default: 1.5rem;
$color-black: #0000;
$box-shadow: 0 1rem 2rem rgba($color-black, 0.205);

$color-secondary: #101d2c;
// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

$font-play: "Playfair Display", sans-serif;
$font-rale: "Raleway", sans-serif;
