.icon-socail {
  width: 2rem;
  height: 2rem;
  padding: 2.5rem;
  border-radius: 50%;
}
.icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-pure {
  width: 3rem;
  height: 3rem;
  fill: #fff;
}
.btn {
  border: none;
  border-radius: 5%;
  color: #fff;
  padding: 1.5rem;
  background-image: linear-gradient(to right, #4568dc, #b06ab3);

  // z-index: 2000;
}
.btn-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &:focus {
    outline: none;
  }
}
