// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

$font-play: "Playfair Display", sans-serif;
$font-rale: "Raleway", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  border: 2rem solid #fff;
  position: relative;
}
